<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThreeJS Starter</title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta http-equiv='Referrer-Policy' content='no-referrer-when-downgrade'>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="lucas">Лукас<br>Абдел-Малак</h1>
                <br>
                <h1>Креативный разработчик</h1>
            </div>
        </div>
    </section>
    <div class="menu">
        <a href="#">ГЛАВНАЯ</a>
        <a href="#">МОИ РАБОТЫ</a>
        <a href="#about">НАВЫКИ</a>
        <a href="#">КОНТАКТЫ</a>
    </div>
    <br>
    <section class="section">
        <div class="about__txt">
            <h1 class="block__txt">Привет, Я Лукас.</h1>
            <p>
                <br><br>
                Я креативный разработчик / инженер-программист из Египта.
                <br><br>
                Я использую Javascript и Typescript для создания высококачественных интерактивных интерфейсов для сайтов.
                <br><br>
            </p>
            <p style="text-align: center;" href="works.html"><button class="glow-on-hover" type="button">Нажми чтобы увидить мои работы!</button></p>
        </div>
    </section>

    <canvas class="webgl"></canvas>

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
    
    /*const cursorRounded = document.querySelector('.rounded');
    
    
    const moveCursor = (e)=> {
      const mouseY = e.clientY;
      const mouseX = e.clientX;
       
      cursorRounded.style.transform = `translate3d(${mouseX}px, ${mouseY}px, 0)`;
         
    }
    
    window.addEventListener('mousemove', moveCursor)*/

</script>
</html>